*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
    overflow: auto;
}

#contenedor{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 150vh 35vh;
    grid-template-areas: 
    "header"
    "contacto"
    "footer";
}

/* Comienzo Header */

header{
    display: flex;
    grid-area: header;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 50;
}

.logo{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 20%;
    height: 100%;
}

.logo img{
    width: 100%;
    height: 100%;
}

.nav{
    display: flex;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;

}

.nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav ul li{
    display: inline-block;
    list-style: none;
    font-size: 3vh;
    font-weight: bold;
    font-family: Oswald, sans-serif;
    color: black;
}

header ul :hover{
    font-size: 3.5vh;
    text-decoration: underline;
    transition: all 2s;
}

/* Fin Header */


/* Comienzo Contacto */

.contacto{
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./Imagenes/Fondo\ Contacto.jpg);
    background-size: cover;
    background-position: center;
}

.contacto form{ 
    border: 1px solid black;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
}

.contacto form h1{
    font-size: 160%;
    color: white;
    text-align: center;
}

.botones{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Fin Contacto */


/* Comienzo Footer */

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background-color: rgb(0, 89, 255);
}

.footer{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer1{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 20%;
    height: 80%;
    /* width: 20%; */
    /* padding: 0vh 5vh; */
}


.footer1 h3{
    font-size: 3vh;
    text-decoration: underline;
    color: white;
}

.footer1 h5{
    text-decoration: none;
    padding: 0.25vh 0vh;
    font-size: 2.5vh;
    color: white;
}

.footer1 a{
    text-decoration: none;
}

.footer1 a :hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.formulario{
    height: 80%;
    width: 100%;
    /* background-color: red; */
}

.redes{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* background-color: azure; */
}

.redes img{
    height: 6vh;
}

.redes a :hover{
    border: 2px solid rgb(158, 158, 158);
    border-radius: 4vh;
}

/* Fin Footer */


@media only screen and (max-width: 767px ){

    #contenedor{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40px 150vh 170px;
        grid-template-areas: 
        "header"
        "contacto"
        "footer";
    }

    /* Comienzo Header */

    header{
        background-color: rgb(255, 255, 255);
    }
    
    .logo{
        width: 20%;
        height: 100%;
    }
    
    .logo img{
        width: 80%;
        height: 50%;
    }
    
    .nav{
        width: 90%;
        height: 100%;
        display: flex;
        background-color: rgb(255, 255, 255);
    }
    
    .nav ul{
        width: 100%;
    }
    
    .nav ul li{
        font-size: 5px;
    }
    
    header ul :hover{
        font-size: none;
        text-decoration: none;
        transition: all 2s;
    }
    
    /* Fin Header */


    /* Comienzo Contacto */

    .contacto{
        overflow: hidden;
    }

    .campo{
        height: 25px;
        width: 150px;
        font-size: 10px;
    }

    .radio{
        height: 15px;
    }

    .contacto form textarea{
        max-height: 100px;
    }

    .boton{
        height: 30px;
        width: 40vw;
        font-size: 10px;
    }

    /* .botones input{
        width: 100px;
    } */

    /* Fin Contacto */


    /* Comienzo Footer */

    .footer1{
        height: 90%;
    }

    .footer1 h3{
        font-size: 75%;
    }

    .footer1 h5{
        font-size: 50%;
    }
    
    .footer1 form{
        display: flex;
        flex-direction: column;
        height: 45px;
        align-items: center;
        justify-content: flex-start;
    }

    .footer1 form input{
        height: 15px;
        width: 70px;
        font-size: 8px;
    }

    .redes img{
        height: 20px;
    }

    /* Fin Footer */
}

/* Media Querie 768px */

@media only screen and (min-width: 768px) and (max-width: 1023px ){

    #contenedor{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70px 170vh 160px;
        grid-template-areas: 
        "header"
        "contacto"
        "footer";
    }

    /* Comienzo Header */

    header{
        background-color: rgb(255, 255, 255);
    }

    .logo{
        width: 15%;
        height: 100%;
    }

    .nav{
        width: 85%;
        height: 100%;
        display: flex;
        background-color: rgb(255, 255, 255);
    }

    .nav ul li{
        font-size: 14px;
    }

    header ul :hover{
        font-size: none;
        text-decoration: none;
        transition: all 2s;
    }

    /* Fin Header */


    /* Comienzo Footer */

    .footer1{
        height: 90%;
    }

    .footer1 h3{
        font-size: 90%;
    }

    .footer1 h5{
        font-size: 70%;
    }
    
    .formulario1{
        display: flex;
        flex-direction: column;
        height: 45px;
        align-items: center;
        justify-content: flex-start;
    }

    .enviar{
        height: 15px;
        width: 40px;
        font-size: 8px;
    }

    .email{
        height: 15px;
        width: 150px;
        font-size: 8px;
    }

    .redes img{
        height: 20px;
    }

    /* Fin Footer */

}