*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
    overflow: auto;
}

#contenedor{ 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 55vh 60vh 100vh 35vh;
    grid-template-areas: 
    "header"
    "inicio"
    "productos"
    "nosotros"
    "footer"
    ;
}


/* Comienzo Header */

header{
    display: flex;
    grid-area: "header";
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-color: white;
}

.logo{
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 20%;
    height: 100%;
}

.logo img{
    width: 100%;
    height: 100%;
}

.nav{
    display: flex;
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;

}

.nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav ul li{
    display: inline-block;
    list-style: none;
    font-size: 3vh;
    font-weight: bold;
    font-family: Oswald, sans-serif;
    color: black;
}

header ul :hover{
    text-decoration: underline;
    transition: all 2s;
}

/* Fin Header */


/* Comienzo Inicio */

.inicio{
    grid-area: "inicio";
    overflow: hidden;
}

/* Fin Inicio */


/* Comienzo Productos */

.explora_productos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: "productos";
    background-image: url(./Imagenes/Fondo\ Explora\ Productos.jpeg);
}

.explora{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.explora h2{
    color: white;
    font-size: 5vh;
    padding-top: vh;
    font-family: Oswald, sans-serif;
}

.productos{
    width: 100%;
    height: 78%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.productos img{
    height: 32vh;
}

.productos a :hover{
    transform: scale(1.10);
    transition: all 2s;
}

/* Fin Productos */


/* Comienzo Nosotros */

.nosotros{
    grid-area: nosotros;
    display: flex;
    flex-direction: column;
    background-image: url(./Imagenes/Fondo\ Sobre\ Nosotros.jpg);
    /* background-size: cover; */
    background-size: cover;
    background-position: center;
}

.titulo_nosotros{
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.titulo_nosotros h2{
    text-align: center;
    font-size: 15vh;
    color: white;
    font-family: Dongle, sans-serif;
}

.parrafo_nosotros{
    display: flex;
    height: 75vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.parrafo_nosotros p{
    padding: 0vh 10vh;
    font-size: 5vh;
    color: white;
    font-family: Dongle, sans-serif;
}


/* Fin Nosotros */


/* Comienzo Footer */

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background-color: rgb(0, 89, 255);
}

.footer{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer1{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 20%;
    height: 80%;
    /* width: 20%; */
    /* padding: 0vh 5vh; */
}


.footer1 h3{
    font-size: 3vh;
    text-decoration: underline;
    color: white;
}

.footer1 h5{
    text-decoration: none;
    padding: 0.25vh 0vh;
    font-size: 2.5vh;
    color: white;
}

.footer1 a{
    text-decoration: none;
}

.footer1 a :hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.formulario{
    height: 80%;
    width: 100%;
    /* background-color: red; */
}

.redes{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* background-color: azure; */
}

.redes img{
    height: 6vh;
}

.redes a :hover{
    border: 2px solid rgb(158, 158, 158);
    border-radius: 4vh;
}

/* Fin Footer */


/* Media Querie 320px */

@media only screen and (max-width: 767px ){

    #contenedor{ 
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40px 86px 150vh 300px 170px;
        grid-template-areas: 
        "header"
        "inicio"
        "productos"
        "nosotros"
        "footer"
        ;
    }


    /* Comienzo Header */

    header{
        background-color: rgb(255, 255, 255);
    }

    .logo{
        width: 20%;
        height: 100%;
    }

    .logo img{
        width: 80%;
        height: 50%;
    }

    .nav{
        width: 90%;
        height: 100%;
        display: flex;
        background-color: rgb(255, 255, 255);
    }

    .nav ul{
        width: 100%;
    }

    .nav ul li{
        font-size: 5px;
    }

    header ul :hover{
        font-size: none;
        text-decoration: none;
        transition: all 2s;
    }

    /* Fin Header */


    /* Comienzo Productos */

    .explora{    
        align-items: flex-end;
        height: 10%;
    }

    .explora h2{
        font-size: 150%;
    }

    .productos{
        height: 95%;
        flex-direction: column;
    }

    .productos img{
        height: 20vh;
    }

    /* Fin Productos */


    /* Comienzo Nosotros */

    .titulo_nosotros{
        height: 30%;
    }

    .titulo_nosotros h2{
        font-size: 200%;
    }

    .parrafo_nosotros{
        height: 70%;
    }

    .parrafo_nosotros p{
        font-size: 50%;
        padding: 0vh 10%;
    }

    /* Fin Nosotros */


    /* Comienzo Footer */

    .footer1{
        height: 90%;
    }

    .footer1 h3{
        font-size: 75%;
    }

    .footer1 h5{
        font-size: 50%;
    }
    
    form{
        display: flex;
        flex-direction: column;
        height: 45px;
        align-items: center;
        justify-content: flex-start;
    }

    .formulario form input{
        height: 15px;
        width: 70px;
        font-size: 8px;
    }

    .redes img{
        height: 20px;
    }

    /* Fin Footer */

}


/* Media Querie 768px */

@media only screen and (min-width: 768px) and (max-width: 1023px ){

    #contenedor{ 
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70px 200px 35vh 400px 160px;
        grid-template-areas: 
        "header"
        "inicio"
        "productos"
        "nosotros"
        "footer"
        ;
    }


    /* Comienzo Header */

    header{
        background-color: rgb(255, 255, 255);
    }

    .logo{
        width: 15%;
        height: 100%;
    }

    .nav{
        width: 85%;
        height: 100%;
        display: flex;
        background-color: rgb(255, 255, 255);
    }

    .nav ul li{
        font-size: 14px;
    }

    header ul :hover{
        font-size: none;
        text-decoration: none;
        transition: all 2s;
    }

    /* Fin Header */


    /* Comienzo Productos */

    .explora{    
        align-items: flex-end;
        height: 40%;
    }
    
    .explora h2{
        font-size: 180%;
    }
    
    .productos{
        height: 80%;
        flex-direction: row;
    }
    
    .productos img{
        height: 15vh;
    }
    
    /* Fin Productos */


    /* Comienzo Nosotros */

    .titulo_nosotros{
        height: 30%;
    }

    .titulo_nosotros h2{
        font-size: 400%;
    }

    .parrafo_nosotros{
        height: 80%;
    }

    .parrafo_nosotros p{
        font-size: 100%;
        padding: 0vh 10%;
    }

    /* Fin Nosotros */


    /* Comienzo Footer */

    .footer1{
        height: 90%;
    }

    .footer1 h3{
        font-size: 90%;
    }

    .footer1 h5{
        font-size: 70%;
    }
    
    form{
        display: flex;
        flex-direction: column;
        height: 45px;
        align-items: center;
        justify-content: flex-start;
    }

    .enviar{
        height: 15px;
        width: 40px;
        font-size: 8px;
    }

    .email{
        height: 15px;
        width: 150px;
        font-size: 8px;
    }

    .redes img{
        height: 20px;
    }

    /* Fin Footer */

}